<div class="tg-wrap"><table class="tg">
    <thead>
      <tr>
        <th class="tg-1wig">Week</th>
        <th class="tg-1wig">Topic</th>
        <th class="tg-1wig">Exercise</th>
        <th class="tg-1wig">Protocol Assignment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0lax">1</td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/overview_and_intro.html">Class Introduction</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/overview_and_intro.html#Exercise" target="_blank">Introductions</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}project/" target="_blank">Read the Protocol Project Overview</a></td>
      </tr>
      <tr>
        <td class="tg-0lax">2</td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/tables-trees-triples.html">Tables, Trees, and Triples</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/tables-trees-triples.html#Exercise" target="_blank">Cookie Recipe</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}assignments/02_assignment_data_pitch" target="_blank">Data Pitch</a></td>
      </tr>
      <tr>
        <td class="tg-0lax">3</td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/tidy-data.html">Tidy Data</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/tidy-data.html#Exercise" target="_blank">Messy Recipe Data</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}assignments/03_assignment_statement_of_work" target="_blank">Definition, Scope, Audience</a></td>
      </tr>
      <tr>
        <td class="tg-0lax">4</td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/data-integration.html">Data Integration</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/data-integration.html#Exercise" target="_blank">311 Data</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}assignments/04_assignment_users_and_uses" target="_blank">User Stories</a></td>
      </tr>
      <tr>
        <td class="tg-0lax">5</td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/data-packaging.html">Data Packaging</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/data-packaging.html#Exercise" target="_blank">Data Curator Demo</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}assignments/05_assignment_collection_policies" target="_blank">Data Collection Policies</a></td>
      </tr>
      <tr>
        <td class="tg-0lax">6</td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/curation-ethics.html">Ethics and Politics of Data Curation</a></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}content/curation-ethics.html#exercise">Data repository audit</a></td>
        <td class="tg-0lax">None</td>
      </tr>
      <tr>
        <td class="tg-0lax">7</td>
        <td class="tg-0lax">Data Acquisition, Search, and Discovery</td>
        <td class="tg-0lax"><!--<a href="{{site.baseurl}}content/data-acquisition-search-discovery.html#Exercise" target="_blank">-->APIs<!--</a>--></td>
        <td class="tg-0lax"><a href="{{site.baseurl}}assignments/06_assignment_transformations_and_quality" target="_blank">Data Transformations and Quality</a></td>
      </tr>
      <tr>
        <td class="tg-0lax">8</td>
        <td class="tg-0lax">Metadata Application Profiles</td>
        <td class="tg-0lax">None</td>
        <td class="tg-0lax"><!--<a href="{{site.baseurl}}assignments/07_assignment_metadata" target="_blank">-->Metadata Application Profiles<!--</a>--></td>
      </tr>
      <tr>
        <td class="tg-0lax">9</td>
        <td class="tg-0lax">Ontologies and Linked Data</td>
        <td class="tg-0lax">None</td>
        <td class="tg-0lax"><!--<a href="{{site.baseurl}}assignments/08_assignment_licensing" target="_blank">-->Data Licensing<!--</a>--></td>
      </tr>
      <tr>
        <td class="tg-0lax">10</td>
        <td class="tg-0lax">Emerging Topics</td>
        <td class="tg-0lax">None</td>
        <td class="tg-0lax">Presentations</td>
      </tr>
    </tbody>
    </table>
    </div>